<% if @courses.empty? %>
  <p>Nenhum curso encontrado com esse nome</p>
<% else %>
  <p><strong>Foram encontrados <%= @courses.size %> cursos: </strong></p>
<%= form_with url: add_admins_subscription_course_path(@subscription) do |form| %>
  <%= form.collection_select :course_id, @courses, :id, :name %> <br>
  <%= form.submit 'Adicionar curso' %>
<% end %>
<% end %>