<footer class="footer-section">
  <div class="container" id="footer-section">
    <div class="row">
      <div class="col-md-4">
        <h3>Sobre a CodePlay</h3>
        <p>Nossa missão é propiciar educação online de qualidade!</p>
      </div>

      <div class="col-md-3 ml-auto">
        <%= link_to root_path do%>
          <%= image_tag 'logo-codeplay-branco.png', alt:'home', class: 'img-fluid' %>
        <% end %>
      </div>

      <div class="col-md-4">
      </div>

    </div>

    <div class="row pt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;CodePlay <%= Time.now.year %>
          <!--<i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>-->
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        </div>
      </div>
    </div>
  </div>
</footer>
