<div class="site-section bg-image overlay" style="background-image: url('<%= image_url('home_template_images/hero_1.jpg')%>')">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 text-center testimony">
        <%= image_tag("home_template_images/person_4.jpg", 
                      alt:'Imagem de ex-aluno', 
                      class:"img-fluid w-25 mb-4 rounded-circle") %>

        <h3 class="mb-4">Yukihiro Matsumoto</h3>
        <blockquote>
          <p>
            &ldquo; 
            Ter realizado os cursos na CodePlay ... bem sem palavras foi uma ótima experiência
            Não só recomendo como espero que você já seja um Code. ;)
            &rdquo;
           </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>