<div class="btn-group">
  <%= link_to 'Novo Membro', new_admins_member_path, class: 'btn btn-primary' %>
</div>

<p class="h5 mb-3 fw-normal text-center">Lista de membros</p>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    <% @members.each do |member| %>
      <tr>
        <td>#</td>
        <td><%= member.email %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
