<% @subscriptions.each do |subscription| %>
<div>
<%= link_to subscription.name, subscription_path(subscription) %><br>
</div>
<% end %>

<%= link_to 'Criar novo plano de assinatura', new_subscription_path %>

<%= flash[:alert] %>