<% if admin_signed_in?%>
  <%= link_to 'Criar novo plano de assinatura', new_subscription_path %>
<% end %>

<hr>
<% @subscriptions.each do |subscription| %>
  <div id="<%= subscription.id %>">
    <%= link_to subscription.name, subscription %><br>
    <%= subscription.description %>
    <hr>
  </div>
<% end %>
