<%= @lesson.name %>
<%= @lesson.description %>

<%= link_to 'Voltar', @lesson.course %>


<iframe src="https://player.vimeo.com/video/337565310?color=ffffff" width="640" height="360" 
frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<p><a href="https://vimeo.com/337565310">Lyft - The Sound of Y</a> 
from <a href="https://vimeo.com/spencermacdonald">Spencer MacDonald</a> on <a href="https://vimeo.com">Vimeo</a>.</p>