<h1>Lista de Cursos</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= course.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if admin_signed_in? %>
  <%= link_to 'Cadastrar curso', new_course_path %>
<% end%>
