<h5 aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>"
                                class="link-dark">Home</a></li>
    <li class="breadcrumb-item active text-white" aria-current="page">Cursos</li>
  </ol>
</h5>

<h1>Lista de Cursos</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= course.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
