<h1>Dashboard Admin</h1>

<div class="container">
  <div class="row">
    <div class="col-md">
      <%= link_to 'Gerenciar Cursos', admins_courses_path, class:"btn btn-light" %>
    </div>
  </div>
</div>